<!-- .hero -->
<section class="hero has-background-black">
    <div class="hero-body">
        <div class="columns is-centered">

            {{#each dow}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span>Dow Jones</span><br>
                <span>Price: {{[05. price]}}</span><br>
                <span>Change: {{[10. change percent]}}</span><br>
                <span>Open: {{[02. open]}}</span><br>
                <span>Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

            {{#each nasdaq}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span>Nasdaq</span> <br>
                <span>Price: {{[05. price]}}</span><br>
                <span>Change: {{[10. change percent]}}</span><br>
                <span>Open: {{[02. open]}}</span><br>
                <span>Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

            {{#each snp}}
            {{#each this}}
            <div class="column is-one-third has-text-centered">
                <span>S &amp; P 500</span> <br>
                <span>Price: {{[05. price]}}</span><br>
                <span>Change: {{[10. change percent]}}</span><br>
                <span>Open: {{[02. open]}}</span><br>
                <span>Previous Close: {{[08. previous close]}}</span><br>
            </div>
            {{/each}}
            {{/each}}

        </div>
    </div>
</section>
<!-- /.hero -->
​
<!-- /.section -->
<section class="section">
    <div class="container">
        <div class="columns grid-xl">
            <div class="column is-half">
                {{#each stocks}}
                {{#each this}}
                <div class="notification is-light">
                    <button class="delete deleteSymbolBtn" data-id="{{[01. symbol]}}"></button>
                    <strong>{{[01. symbol]}}</strong>
                    <p>Price: {{[05. price]}}</p>
                    <p>Change: {{[10. change percent]}}</p>
                    <p>Open: {{[02. open]}}</p>
                    <p>Previous Close: {{[08. previous close]}}</p>
                </div>
                {{/each}}
                {{/each}}
            </div>
            <div class="column is-half">
                <div class="tradingview-widget-container">
                    <div id="tradingview_c114c"></div>
                    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/"
                            rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> by TradingView
                    </div>
                </div>
                {{!-- <figure class="image card is-5by4">
                    <img src="https://www.stocktrader.com/wp-content/uploads/2013/12/TradingView-stock-chart.png">
                </figure> --}}
            </div>
        </div>
    </div>
</section>
<!-- /.section -->
​
<div class="block">
    <article class="message is-dark">
        <div class="message-header has-text-weight-bold">
            <h3 class="title is-3 has-text-white">News</h3>
        </div>
        {{#each news}}
        <div class="message-body">
            {{#each this.data}}
            <a href="{{this.news_url}}">
                <h6 class="title is-6">{{this.title}}</h6>
            </a>
            <p>{{this.text}}</p>
            {{/each}}
        </div>
        {{/each}}
    </article>
</div>